.main-header__content{
    background-color: rgba(44, 42, 42, 0.842);
    border-bottom: 2px solid red;
    -webkit-box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
    overflow: hidden;
    height:auto;
}
.main-header__content h1{
    text-align: center;
    font-size: 150px;
    color:red;
    margin-top: 0;
    position:absolute;
    top:100px;
    left:250px;
    margin-bottom: 10px;
    padding:25px;
    font-weight: bolder;
    text-transform: uppercase;
    font-style: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shape-2{
    height: 250px;
    width: 400px;
    background-color: rgb(109, 6, 6);
    margin-left: -20px;
     position: relative;
    top: -90px; 
    right:150px;
    -webkit-box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
    transform: rotate(140deg);
}
.shape-3{
    height: 250px;
    width: 400px;
    background-color: rgb(109, 6, 6);
    margin-left: -20px;
     position: relative;
    top: -350px; 
    left:1040px;
    -webkit-box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
    transform: rotate(220deg);
}